@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Times New Roman', Times, serif;
    color: #fff;
    scroll-behavior: smooth;
}

p {
    font-weight: 200;
    font-size: 1.5em;
    /* color: #111; */
}
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* color: #fff; */
    justify-content: center;
    align-items: center;
    background: url('../images/bg.jpg');
}
.content-banner {
    max-width: 900px;
    text-align: center;
}
body{ 
    min-height: 1000px;
}
.banner .content-banner h2 {
    font-size: 5em;
    /* color: #fff; */
}
.content-banner p{
    font-size: 1em;
    
}
.btn {
    font-size: 1em;
    /* color: #fff; */
     background: #ff0157;
     display: inline-block;
     padding:  10px 30px;
     margin-top: 20px;
     text-transform: uppercase;
     text-decoration: none;
     letter-spacing: 2px;
     transition: 0.5s;
}
.btn:hover{letter-spacing: 6px;}

header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky {
    background-color: #fff;
    padding: 20px 100px;
}
header.sticky .logo, header.sticky li a {
    color: black;
    
}
header.sticky li a{
    font-size: 1.2em;
    font-weight: 300;
}
header li a:hover {
    color:rgb(255, 0, 0)
}
header .logo {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 2em;
}
header .logo span, #about span, .title span {
    color: rgb(255, 0, 0);
}
.nav {
    position: relative;
    display: flex;
}
.nav li {
    list-style: none;
    margin-left: 30px;
}
.nav li a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
}
section {
    padding: 100px;
}
#about p, #about h2, .title h2, .title p, h3{
    color: #000;

}
#about span, .title span {
    font-size: 2em;
    font-weight: 800;
}
.row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.col50 {
    position: relative;
    width: 48%;
}

#about h2, .title h2{
    font-size: 2em; 
    font-weight: 500;
}

 .imageBox {
    position: relative;
    width: 100%;
    min-height: 400px;
}
.imageBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row-reverse;
}
.menu .content .box {
    width: 440px;
    margin: 20px;
    border: 15px solid rgb(255, 255, 255);
    box-shadow: 0 5px 35px rgba(0,0,0,0.1);
}
